<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
    <link rel="stylesheet" href="../static/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
<h1>Worst Web Developers summit 2019</h1>
<form id="form" action="/register" method="POST" enctype="multipart/form-data">
    <ul id="list" style="list-style-type: none" class="errorMessages">
        <li>
            <label id="firstname_label">
                <input id="firstname" type="text" name="firstname" placeholder="First name"
                       pattern="[AaĄąBbCcĆćDdEeĘęFfGgHhIiJjKkLlŁłMmNnŃńOoÓóPpRrSsŚśTtUuWwYyZzŹźŻżXxQq]+"
                       onkeyup="checkNameCorrectness()"
                       autocomplete="off"
                       required autofocus>
            </label>
        </li>
        <li>
            <label id="lastname_label">
                <input id="lastname" type="text" placeholder="Last name" name="lastname"
                       pattern="[AaĄąBbCcĆćDdEeĘęFfGgHhIiJjKkLlŁłMmNnŃńOoÓóPpRrSsŚśTtUuWwYyZzŹźŻżXxQq]+"
                       onkeyup="checkLastNameCorrectness()"
                       autocomplete="off"
                       required>
            </label>
        <li>
        <li>
            <label id="password_label">
                <input id="password" type="password" minlength="8" name="password" placeholder="Password"
                       onkeyup="checkPasswordsEquality()"
                       pattern="[a-z]+"
                       autocomplete="off"
                       required/>
            </label>
        </li>
        <li>
            <label id="confirm_password_label">
                <input id="confirm_password" type="password" minlength="8" name="confirm_password"
                       placeholder="Confirm Password"
                       onkeyup="checkPasswordsEquality()"
                       autocomplete="off"
                       required/>
            </label>
        </li>
        <li>
            <label id="date_label" for="birthdate">
                <input type="date" name="birthdate" placeholder="Date of birth" id="birthdate" min="1900-01-01"
                       onkeyup="checkDate()"
                       autocomplete="off"
                       required>
            </label>
        </li>
        <li>
            <label id="login_label">
                <input id="login" type="text" min="3" max="12" pattern="[a-z]+" placeholder="Login" name="login"
                       onkeyup="checkLogin()"
                       autocomplete="off"
                       required>
            </label>
        </li>
        <li>
            <label id="pesel_label">
                <input id="pesel" type="text" size="11" minlength="11" placeholder="PESEL [0-9]" name="pesel"
                       autocomplete="off"
                       pattern="[0-9]{11}" onkeyup="checkPesel()" required>
            </label>
        </li>
        <li>
            <fieldset>
                <legend>SEX</legend>
                <label for="male">Male</label>
                <input id="male" type="radio" name="sex" value="M" required checked>
                <label for="female">Female</label>
                <input id="female" type="radio" name="sex" value="F" required>
            </fieldset>
        </li>
        <li>
            <label id="file_label" for="photo">
                <input type="file" name="photo" onchange="checkPhoto()" id="photo" required>
            </label>
        </li>
        <li>
            <label id="submit_label">
                <input id="submit" class="register_button"
                       type="submit"
                       value="Register">
            </label>
        </li>
    </ul>
</form>
<script onload="init()" type="text/javascript" src="../static/register.js"></script>
</body>
</html>
